/* .caja1{
    background-color: aqua;
    display: inline;
}

.caja2{
    background-color: khaki;
}

.caja3{
    background-color: brown;
}

p{
    display: inline;
    margin-top: 10px;
} */
/* a{
    background-color: green;
    display: block; tranforma uno en linea a uno en bloque
} */

/* div{
    width: 300px;
    height: 300px;
    margin: 30px;
    display: inline-block;
    float: left;
}
p{
    display: inline-block;

}
a{
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    overflow: auto;
}
.caja1{
    background-color: red;
}
.caja2{
    background-color: yellow;
}
.caja3{
    background-color: green;
} */

/* div{
    display: inline;
    float: left;
    margin: 1em;
    padding: .3em;
    border: 2px solid black;
    width: 100px;
    height: 150px;
}
.caja1{
    overflow: visible;
}
.caja2{
    overflow: hidden;
}
.caja3{
    overflow: scroll;
} */
div{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 20px;
}

.caja1{
    background-color: yellow;
    z-index: 10;
}
.caja2{
    background-color: blue;
    bottom: 10em;
    left: 150px;
}
.caja3{
    background-color: teal;
    bottom: 21em;
    left: 300px;
}
