h1{
    color:  burlywood;
    font-family: system-ui, serif;
    font-size: 48px;
    font-weight: bold;
}   
p{
    color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style:italic;
    font-variant:small-caps ;
}